  
   <!-- table 背景色为蓝色,图标汉字前景色为light色,激活颜色为dark -->



<!--    <ion-tabs class="tabs-icon-top tabs-color-active-dark tabs-background-positive tabs-color-light"> -->
   <ion-tabs class="tabs-striped tabs-top">
    <ion-tab title="巡更配置"   ng-controller="PatrolCtrlConfig" ng-click="onClickFindBtn()">
      <ion-nav-view name="patrol-patrolConfig"></ion-nav-view>
    </ion-tab>

    <ion-tab title="巡更列表"   ng-controller="PatrolCtrl" ng-click="onClickFindBtn()" >
      <ion-nav-view name="patrol-patrolList"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

